/* 基本は main.css */

/* ======================================== */
/* header */
/* ======================================== */

.hla header {
    background-color: navy; /* 背景色 */
}

.hla header a {
    color: yellow; /* 文字色 */
}
.hla header a:hover {
    color: lightpink; /* 文字色 */
}
.hla header a.nav_here {
    color: lightcyan; /* 文字色 */
    pointer-events: none; /* リンク無効化 */
    cursor: default;  /* カーソルをdefaultに */
    text-decoration: none;  /* 下線を消去 */
}

.hla header p {
    color: yellow; /* 文字色 */
}

.hla header .index-arrow:before {
    border-left: 1px solid yellow; /* 線のスタイル */
    margin-left : 13px; /* 左側のスペース */
    content: "---"; /* 矢印を追加 */
}
@media screen and (min-width: 640px){
    .hla header .index-arrow:before {
        margin-left : 15px; /* 左側のスペース */
        content: "---\03e"; /* 矢印を追加 */
    }
}


.hla header .sub-index {
    color: lime; /* 文字色 */
}
.hla header span.sub-index:before {
    content: "--\03e"; /* 矢印を追加 */
}

/* ======================================== */
/* main */
/* ======================================== */

.hla h2.section {
    background-color: navy; /* 背景色 */
    color: lightpink; /* 文字色 */
}

.hla h3.sub-section {
    background: linear-gradient(to right, ghostwhite, lavender); /* 背景色グラデーション */
    border: 1px solid navy; /* 囲み線 */
    border-left: 10px solid navy; /* 囲み線(左のみ) */
}

.hla strong.red-text {
    color: red; /* 文字色 */
}
.hla strong.blue-text {
    color: blue; /* 文字色 */
}

.hla .magenta-line {
    background: linear-gradient(transparent 50%, hotpink 50%); /* 蛍光ペン風 */
}
.hla .yellow-line {
    background: linear-gradient(transparent 50%, yellow 50%); /* 蛍光ペン風 */
}
.hla .green-line {
    background: linear-gradient(transparent 50%, lime 50%); /* 蛍光ペン風 */
}

.hla table#rireki {
    border-collapse: collapse; /* 結合ボーダー */
    border: 3px solid navy; /* 囲み線 */
    margin: 0px 10px 0px 10px; /* 上右下左の空白 */
    width: 700px; /* 幅 */
    table-layout: fixed; /* 固定レイアウト */
}
.hla table#rireki td {
    border: 1px solid navy; /* 囲み線 */
    padding: 0px 10px 0px 10px; /* 上右下左の空白*/
}
.hla table#rireki th {
    background-color: ghostwhite; /* 背景色 */
    width: 120px; /* 幅 */
    font-weight: normal; /* 文字の太さ */
    text-align: center; /* 横方向 中央揃え */
}

@media screen and (min-width: 640px){

    .hla p.textbox {
        margin-right: 100px; /* 上右下左の空白 */
    }

    .hla ul {
        margin: 20px 100px 20px 20px; /* 上右下左の空白 */
    }

}

/* ======================================== */
/* スマホ用 */
/* ======================================== */

@media screen and (max-width: 640px){

    .hla table#rireki {
        margin: 0px 5px 0px 5px; /* 上右下左の空白 */
        width: 320px; /* 幅 */
    }

    .hla header .sub-index {
        display: none; /* 非表示 */
    }
}
