html.show_html {
    display: block; /* 表示 */
}

body {
    font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif; /* 基本のフォント(左ほど優先) */
    margin: 0 auto; /* 上右下左の空白 */
    background-color: gainsboro; /* 背景色 */
    width: 1000px; /* 幅(PC) */
}

h2, h3 {
    font-family: 'Noto Serif JP', serif;
}

#container {
    color: black; /* 文字色 */
    margin: 0; /* 上右下左の空白 */
    background-color: whitesmoke; /* 背景色 */
}

/* ======================================== */
/* header */
/* ======================================== */

header {
    background-color: indigo; /* 背景色 */
}

header a {
    color: orange; /* 文字色 */
}
header a:hover{
    color: yellow; /* 文字色 */
}
header a.nav_here {
    color: lavender; /* 文字色 */
    pointer-events: none; /* リンク無効化 */
    cursor: default;  /* カーソルをdefaultに */
    text-decoration: none;  /* 下線を消去 */
}

header h1 {
    margin-bottom: 8px; /* 上右下左の空白(下のみ) */
    background-color: dimgray; /* 背景色 */
    padding: 0px 10px 0px 10px; /* 上右下左の空白*/
    font-size: 1rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
    color: white; /* 文字色 */
}

header p {
    margin-top: 8px; /* 上右下左の空白(上のみ) */
    color: orange; /* 文字色 */
    padding: 0px 10px 10px 20px; /* 上右下左の空白 */
    line-height: 1.3rem; /* 行間 */
}

header i {
    margin: 0px 3px 0px 0px; /* 上右下左の空白 */
    width: 23px; /* 幅 */
    text-align: center; /* 横方向 中央揃え */
}

/* ======================================== */
/* main */
/* ======================================== */

main {
    padding: 0px 100px 0px 20px; /* 上右下左の空白 */
}

p {
    text-align: justify; /* 長文の両端揃え */
    color: currentColor; /* 文字色 */
}

a {
    color: currentColor; /* 文字色 */
}
a:hover {
    color: darkorange; /* 文字色 */
}

hr {
    margin: 40px -100px 20px -20px; /* 上右下左の空白, mainの左右paddingと合わせる */
    border: 3px dashed lightsteelblue; /* 線のスタイル */
}

h2.section {
    padding: 5px 0px 5px 20px; /* 上右下左の空白 */
    background-color: indigo; /* 背景色 */
    width: 490px; /* 囲みの大きさ */
    font-size: 1.8rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
    color: yellow; /* 文字色 */
}

h3.sub-section {
    padding: 5px 0px 5px 20px; /* 上右下左の空白 */
    background: linear-gradient(to right, ghostwhite, lavender); /* 背景色グラデーション */
    border: 1px solid indigo; /* 囲み線 */
    border-left: 10px solid indigo; /* 囲み線(左のみ) */
    width: calc(490px - 11px); /* 囲みの大きさ(左囲み線の分だけ調整) */
    font-size: 1.6rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
    color: currentColor; /* 文字色 */
}

h4.subsub-section {
    margin: 20px 20px 20px 20px; /* 上右下左の空白 */
    font-size: 1rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
}
.cyan-line {
    background: linear-gradient(transparent 50%, cyan 50%); /* 蛍光ペン風 */
}

p.textbox {
    margin: 20px 20px 20px 20px; /* 上右下左の空白 */
}
p.indent {
    text-indent: 1rem; /* インデント */
}
p.no-margin-top {
    margin-top: -20px; /* 上右下左の空白 */
}

p.info {
    font-size: 0.85rem; /* フォントサイズ */
    margin: 20px 20px 20px 20px; /* 上右下左の空白 */
    border: 1px solid black; /* 囲み線 */
    padding: 10px 15px 10px 15px; /* 上右下左の空白 */
    width: 410px; /* 囲みの大きさ */
    background-color: gainsboro; /* 背景色 */
}
address {
    font-style: normal; /*イタリック体を解除*/
}

ul {
    margin: 20px 0px 20px 20px; /* 上右下左の空白 */
    padding: 0px 0px 0px 30px; /* 上右下左の空白 */
}
li > ul {
    margin: 10px 0px 10px 0px; /* 上右下左の空白 */
    padding: 0px 0px 0px 25px; /* 上右下左の空白 */
}
li {
    color: currentColor; /* 文字色 */
}

.period {
    color: currentColor; /* 文字色 */
    background: linear-gradient(transparent 80%, lime 80%); /* 蛍光ペン風 */
    font-size: 0.9rem; /* フォントサイズ */
    margin-left : 20px; /* 左側のスペース */
}

.english {
    color: blue; /* 文字色 */
    font-size: 0.85rem; /* フォントサイズ */
    margin-left : 20px; /* 左側のスペース */
}

#thesis .english, #thesis .period {
    margin-left : 10px; /* 左側のスペース */
}

.best-time {
    color: blue; /* 文字色 */
    font-size: 1rem; /* フォントサイズ */
    margin-left : 20px; /* 左側のスペース */
}

.MathJax {
    font-size: 1.2rem; /* フォントサイズ */
}

/* ======================================== */
/* footer */
/* ======================================== */

footer {
    background-color: dimgray; /* 背景色 */
    padding: 0px 10px 0px 10px; /* 上右下左の空白*/
}

footer p {
    color: white; /* 文字色 */
}

footer small {
    font-size: 1.1rem; /* フォントサイズ */
}

/* ======================================== */
/* PC小画面用 */
/* ======================================== */

@media screen and (max-width: 1000px){

    body {
        width: 100vw; /* 幅(PC小画面) */
    }

    main {
        padding-right: 50px; /* 右の空白 */
    }

    hr {
        margin-right: -50px; /* 右の空白, mainの左右paddingと合わせる */
    }
}

/* ======================================== */
/* スマホ用 */
/* ======================================== */

@media screen and (max-width: 550px){

    body, header h1, footer small {
        font-size: 0.9rem; /* フォントサイズ */
    }

    header p {
        padding: 0px 10px 10px 15px; /* 上右下左の空白 */
    }

    main {
        padding: 0px 15px 0px 15px; /* 上右下左の空白 */
    }

    p {
        text-align: left; /* 長文の左揃え */
    }

    hr {
        margin: 20px -15px 20px -15px; /* 上右下左の空白, mainの左右paddingと合わせる */
        border: 2px dashed lightsteelblue; /* 線のスタイル */
    }

    h2.section {
        padding: 5px 10px 5px 10px; /* 上右下左の空白 */
        width: calc(100vw - 50px); /* 囲みの大きさ */
        font-size: 1.2rem; /* フォントサイズ */
        font-weight: normal; /* 文字の太さ */
    }

    h3.sub-section {
        padding: 5px 10px 5px 10px; /* 上右下左の空白 */
        border-left: 10px solid indigo; /* 囲み線(左のみ) */
        width: calc(100vw - 61px); /* 囲みの大きさ(左囲み線の分だけ調整) */
        font-size: 1.1rem; /* フォントサイズ */
        font-weight: normal; /* 文字の太さ */
    }

    h4.subsub-section {
        margin: 10px 10px 10px 10px; /* 上右下左の空白 */
        font-size: 1rem; /* フォントサイズ */
        font-weight: normal; /* 文字の太さ */
    }

    p.textbox {
        margin: 10px 5px 10px 5px; /* 上右下左の空白 */
    }

    p.info {
        font-size: 0.8rem; /* フォントサイズ */
        margin: 10px 0px 10px 0px; /* 上右下左の空白 */
        padding: 10px 15px 10px 15px; /* 上右下左の空白 */
        width: calc(100vw - 62px); /* 囲みの大きさ */
    }

    ul {
        margin: 10px 5px 10px 5px; /* 上右下左の空白 */
        padding: 0px 0px 0px 20px; /* 上右下左の空白 */
    }

    li > ul {
        margin: 5px 5px 5px 0px; /* 上右下左の空白 */
    }

    .period {
        font-size: 0.8rem; /* フォントサイズ */
        margin-left : 10px; /* 左側のスペース */
    }

    .english {
        font-size: 0.75rem; /* フォントサイズ */
        margin-left : 10px; /* 左側のスペース */
    }

    .best-time {
        font-size: 0.9rem; /* フォントサイズ */
        margin-left : 10px; /* 左側のスペース */
    }

    .MathJax {
        font-size: 1rem; /* フォントサイズ */
    }

}

@media screen and (max-width: 320px){

    body, header h1, footer small {
        font-size: 0.8rem; /* フォントサイズ */
    }

    h2.section, h3.sub-section {
        font-size: 1.1rem; /* フォントサイズ */
    }

    h4.subsub-section {
        font-size: 0.9rem; /* フォントサイズ */
    }

    p.info {
        font-size: 0.7rem; /* フォントサイズ */
    }

}
