/* 基本はstylesheet_main.css */

strong.red {
    color: red; /* 文字色 */
}
strong.blue {
    color: blue; /* 文字色 */
}
.cyan {
    background: linear-gradient(transparent 50%, cyan 50%); /* 蛍光ペン風 */
}
.magenta {
    background: linear-gradient(transparent 50%, hotpink 50%); /* 蛍光ペン風 */
}
.yellow {
    background: linear-gradient(transparent 50%, yellow 50%); /* 蛍光ペン風 */
}
.green {
    background: linear-gradient(transparent 50%, lime 50%); /* 蛍光ペン風 */
}

table#rireki {
    border-collapse: collapse; /* 結合ボーダー */
    border: 1px solid navy; /* 囲み線 */
    margin: 0px 10px 0px 10px; /* 上右下左の空白 */
    width: 600px; /* 幅 */
}
#rireki td {
    border: 1px solid navy; /* 囲み線 */
    padding: 0px 10px 0px 10px; /* 上右下左の空白*/
}
col#rireki-date {
    background-color: ghostwhite; /* 背景色 */
    width: 100px; /* 幅 */
}

/* ======================================== */
/* header */
/* ======================================== */

.hla header {
    background-color: navy; /* 背景色 */
}

.hla header a {
    color: yellow; /* 文字色 */
}

.hla header p {
    color: yellow; /* 文字色 */
}

/* ======================================== */
/* main */
/* ======================================== */

.hla h2.section {
    background-color: navy; /* 背景色 */
    color: lightpink; /* 文字色 */
}

.hla h3.subsection {
    background: linear-gradient(to right, ghostwhite, lavender); /* 背景色グラデーション */
    border: 1px solid navy; /* 囲み線 */
    border-left: 10px solid navy; /* 囲み線(左のみ) */
}

@media screen and (min-width:500px){

    .hla p.textbox {
        margin: 20px 100px 20px 20px; /* 上右下左の空白 */
    }

}

@media screen and (max-width:500px){

    table#rireki {
        margin: 0px 5px 0px 5px; /* 上右下左の空白 */
        width: 320px; /* 幅 */
    }

}
