body {
    font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif; /* 基本のフォント(左ほど優先) */
    margin: 0 auto; /* 上右下左の空白 */
    background-color: gainsboro; /* 背景色 */
    width: 1000px; /* 幅(PC) */
}

@font-face {
  font-family: 'Noto_Serif_JP';
  url('../fonts/Noto_Serif_JP/NotoSerifJP-Medium.woff') format('woff');
}
h2, h3 {
  font-family: 'Noto_Serif_JP';
}

#container {
    margin: 0; /* 上右下左の空白 */
    background-color: white; /* 背景色 */
}

/* ======================================== */
/* header */
/* ======================================== */

header {
    background-color: indigo; /* 背景色 */
}

header a {
    color: orange; /* 文字色 */
}

header h1 {
    margin-bottom: 8px; /* 上右下左の空白(下のみ) */
    background-color: dimgray; /* 背景色 */
    padding: 0px 10px 0px 10px; /* 上右下左の空白*/
    font-size: 1rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
    color: white; /* 文字色 */
}

header p {
    margin-top: 8px; /* 上右下左の空白(上のみ) */
    color: orange; /* 文字色 */
    padding: 0px 10px 10px 20px; /* 上右下左の空白 */
}

/* ======================================== */
/* main */
/* ======================================== */

main {
    padding: 0px 100px 0px 20px; /* 上右下左の空白 */
}

p {
    text-align: justify; /* 長文の両端揃え */
}

a {
    color: darkorange; /* 文字色 */
}
a.no-color {
    color: black; /* 文字色 */
}

hr {
    margin: 40px -100px 20px -20px; /* 上右下左の空白, mainの左右paddingと合わせる */
    border: 3px dashed lightsteelblue; /* 線のスタイル */
}

h2.section {
    padding: 5px 0px 5px 20px; /* 上右下左の空白 */
    background-color: indigo; /* 背景色 */
    width: 480px; /* 囲みの大きさ */
    font-size: 1.8rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
    color: yellow; /* 文字色 */
}

h3.sub-section {
    padding: 5px 0px 5px 20px; /* 上右下左の空白 */
    background: linear-gradient(to right, ghostwhite, lavender); /* 背景色グラデーション */
    border: 1px solid indigo; /* 囲み線 */
    border-left: 10px solid indigo; /* 囲み線(左のみ) */
    width: 470px; /* 囲みの大きさ(左囲み線の分だけ要調整) */
    font-size: 1.6rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
    color: black; /* 文字色 */
}

h4.subsub-section {
    margin: 20px 20px 20px 20px; /* 上右下左の空白 */
    font-size: 1rem; /* フォントサイズ */
    font-weight: lighter; /* 文字の太さ */
}
.cyan-line {
    background: linear-gradient(transparent 50%, cyan 50%); /* 蛍光ペン風 */
}

p.textbox {
    margin: 20px 20px 20px 20px; /* 上右下左の空白 */
}

p.info {
    font-size: 0.85rem; /* フォントサイズ */
    margin: 20px 20px 20px 20px; /* 上右下左の空白 */
    border: 1px solid black; /* 囲み線 */
    padding: 10px 15px 10px 15px; /* 上右下左の空白 */
    width: 410px; /* 囲みの大きさ */
    background-color: gainsboro; /* 背景色 */
}
address {
    font-style: normal; /*イタリック体を解除*/
}

ul {
    margin: 20px 0px 20px 20px; /* 上右下左の空白 */
    padding: 0px 0px 0px 30px; /* 上右下左の空白 */
    text-align: justify; /* 長文の両端揃え */
}

ul.ul-2nd {
    margin: 10px 0px 10px 0px; /* 上右下左の空白 */
    padding: 0px 0px 0px 30px; /* 上右下左の空白 */
    text-align: justify; /* 長文の両端揃え */
}

.period {
    color: black; /* 文字色 */
    background: linear-gradient(transparent 80%, lime 80%); /* 蛍光ペン風 */
    font-size: 0.9rem; /* フォントサイズ */
    margin-left : 20px; /* 左側のスペース */
}

.english {
    color: blue; /* 文字色 */
    font-size: 0.85rem; /* フォントサイズ */
    margin-left : 20px; /* 左側のスペース */
}
.english_small-margin {
    color: blue; /* 文字色 */
    font-size: 0.85rem; /* フォントサイズ */
    margin-left : 10px; /* 左側のスペース */
}

.best-time {
    color: blue; /* 文字色 */
    font-size: 1rem; /* フォントサイズ */
    margin-left : 20px; /* 左側のスペース */
}

/* ======================================== */
/* footer */
/* ======================================== */

footer {
    background-color: dimgray; /* 背景色 */
    padding: 0px 10px 0px 10px; /* 上右下左の空白*/
    color: white; /* 文字色 */
}

footer small {
    font-size: 1rem; /* フォントサイズ */
}

/* ======================================== */
/* スマホ用 */
/* ======================================== */

@media screen and (max-width: 640px){

    body {
        width: 360px; /* 幅(スマホ) */
        font-size: 0.9rem;
    }

    header h1 {
        font-size: 0.9rem; /* フォントサイズ */
        font-weight: normal; /* 文字の太さ */
    }

    main {
        padding: 0px 15px 0px 15px; /* 上右下左の空白 */
    }

    p {
        text-align: left; /* 長文の左揃え */
    }

    hr {
        margin: 20px -15px 20px -15px; /* 上右下左の空白, mainの左右paddingと合わせる */
        border: 2px dashed lightsteelblue; /* 線のスタイル */
    }

    h2.section {
        padding: 5px 10px 5px 10px; /* 上右下左の空白 */
        width: 310px; /* 囲みの大きさ */
        font-size: 1.2rem; /* フォントサイズ */
        font-weight: normal; /* 文字の太さ */
    }

    h3.sub-section {
        padding: 5px 10px 5px 10px; /* 上右下左の空白 */
        border-left: 10px solid indigo; /* 囲み線(左のみ) */
        width: 299px; /* 囲みの大きさ(左囲み線の分だけ要調整) */
        font-size: 1.1rem; /* フォントサイズ */
        font-weight: normal; /* 文字の太さ */
    }

    h4.subsub-section {
        margin: 10px 10px 10px 10px; /* 上右下左の空白 */
        font-size: 1rem; /* フォントサイズ */
        font-weight: normal; /* 文字の太さ */
    }

    p.textbox {
        margin: 10px 5px 10px 5px; /* 上右下左の空白 */
    }

    p.info {
        font-size: 0.8rem; /* フォントサイズ */
        margin: 10px 0px 10px 0px; /* 上右下左の空白 */
        padding: 10px 15px 10px 15px; /* 上右下左の空白 */
        width: 298px; /* 囲みの大きさ */
    }

    ul {
        margin: 10px 5px 10px 5px; /* 上右下左の空白 */
        padding: 0px 0px 0px 20px; /* 上右下左の空白 */
        text-align: left; /* 長文の左揃え */
    }

    ul.ul-2nd {
        margin: 10px 5px 10px 0px; /* 上右下左の空白 */
        padding: 0px 0px 0px 20px; /* 上右下左の空白 */
        text-align: left; /* 長文の左揃え */
    }

    .period {
        font-size: 0.8rem; /* フォントサイズ */
        margin-left : 10px; /* 左側のスペース */
    }

    .english {
        font-size: 0.75rem; /* フォントサイズ */
        margin-left : 10px; /* 左側のスペース */
    }
    .english_small-margin {
        font-size: 0.75rem; /* フォントサイズ */
    }

    .best-time {
        font-size: 0.9rem; /* フォントサイズ */
        margin-left : 10px; /* 左側のスペース */
    }

    footer small {
        font-size: 0.9rem; /* フォントサイズ */
    }

    .MathJax {
        font-size: 0.9rem; /* フォントサイズ */
    }

}
